// 主题色
$primary-color:#4d6bfe;

$success-color:#42b883;

$danger-color:#f56c6c;

$warning-color:#e6a23c;

$border-color:#dcdfe6;

$disabled-color:#f5f7fa;
$disabled-text-color:#a8abb2;


// 圆角
$border-radius:4px;
